@model GeronimoHBS.Models.Location
@using GeronimoHBS.Models

@{
    ViewBag.Title = "Events";
}

@{ Html.RenderPartial("_Breadcrumbs");}

<div class="jumbo">
    <div class="container">
        <h2>@Html.DisplayFor(modelItem => Model.EventOverview.Header)</h2>
        <p>@Html.DisplayFor(modelItem => Model.EventOverview.IntroductionParagraph)</p>
    </div>
</div>
<div class="container">
    <p>@Html.DisplayFor(modelItem => Model.EventOverview.MainContent)</p>
    <p>@Html.DisplayFor(modelItem => Model.EventOverview.SecondaryContent)</p>
</div>
@if (Model.EventOverview.Events.Count() != 0)
{

<div class="container">
    <h3>All Events</h3>
    @foreach (var item in Model.EventOverview.Events)
    {
        <h3>@item.EventName</h3>
        <p>
            Start Date: @item.StartDate
        </p>
        <p>
            End Date: @item.EndDate
        </p>
        <p>
            Amount Paid: @item.AmountPaid
        </p>
        <p>
            Aditional Cost: @item.ExtraCost
        </p>
        <p>
            Total Cost: @item.CalculatedCost
        </p>
        <p>
            Event Status: @item.EventStatus.EventStatusName
        </p>
        <p>
            Venue: @item.Venue.VenueName
        </p>
        <p>
            Public Event: @item.PublicEvent
        </p>
        <p>
            # of Participants: @item.NoOfParticipants
        </p>
    }
</div>
}
else
{
    <div>
        No Events Details Right Now
    </div>
}

<div class="tertiaryContainer">
    <div class="align-center">
        <a href="/Dining/Index/@Model.LocationID" class="button primary">@Model.LocationName Dining</a>
        <a href="/Gym/Timetable/@Model.LocationID" class="button primary">View @Model.LocationName Timetable</a>

    </div>
</div>


