@model GeronimoHBS.Models.Location
@using GeronimoHBS.Models

@{
    ViewBag.Title = "Events";
}

@{ Html.RenderPartial("_Breadcrumbs");}

<div class="jumbo">
    <div class="container">
        <h2>@Html.DisplayFor(modelItem => Model.EventOverview.Header)</h2>
        <p>@Html.DisplayFor(modelItem => Model.EventOverview.IntroductionParagraph)</p>
    </div>
</div>
<div class="container">
    <p>@Html.DisplayFor(modelItem => Model.EventOverview.MainContent)</p>
    <p>@Html.DisplayFor(modelItem => Model.EventOverview.SecondaryContent)</p>
</div>
@if (Model.EventOverview.Events != null)
{
    <div class="secondaryContainer">
        @foreach (var item in Model.EventOverview.Events)
        {
            if (item.PublicEvent)
            {
                <div class="detailedContentOuter">
                    <div class="detailedContent">
                        <h2 class="lineHeading">@item.EventName</h2>
                        <p class="detailedContentSub">Venue: @item.Venue.VenueName</p>
                        <p class="detailedContentSub">Event from: @Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)</p>
                        <p>@item.Description</p>
                        <hr />
                    </div>
                </div>
            }
        }
    </div>
}
else
{
    <div>
        No Events Details Right Now
    </div>
}

<div class="tertiaryContainer">
    <div class="align-center">
        <a href="/Dining/Index/@Model.LocationID" class="button primary">@Model.LocationName Dining</a>
        <a href="/Gym/Timetable/@Model.LocationID" class="button primary">View @Model.LocationName Timetable</a>

    </div>
</div>


