@model GeronimoHBS.Models.Location
@using GeronimoHBS.Models

@{
    ViewBag.Title = "RoomAvailability";
}

@{ Html.RenderPartial("_Breadcrumbs");}

<div class="container">

                
    <h2>@Model.LocationName Room Availability: @ViewBag.FirstName</h2>
    <p>
        <ol>
            <li>
                All the rooms that are available for the booking. <br />
                With an option(s) to select options to book.
            </li>
            <li>
                @Model.RoomOverview.Header
            </li>
            <li>
                @ViewBag.RoomsCount = guestsCount;
            </li>
            <li>
                @ViewBag.StartDate = startDate;
            </li>
            <li>
                @ViewBag.EndDate = endDate;
            </li>
            <li>
                @ViewBag.RoomType.Name = roomType;
            </li>

        </ol>
        <a href="/Rooms/Payment/@Model.LocationID" class="button primary">Payment</a>
    </p>
</div>
