@model GeronimoHBS.Models.Location
@using GeronimoHBS.Models


@{
    ViewBag.Title = "RoomAvailability";
    int i;
}

@{ Html.RenderPartial("_Breadcrumbs");}



<div class="jumbo">
    <div class="container">
        <h2>@Html.DisplayFor(modelItem => Model.RoomOverview.Header)</h2>
        <p>@Html.DisplayFor(modelItem => Model.RoomOverview.IntroductionParagraph)</p>
    </div>
</div>
<div class="container">
    <p>@Html.DisplayFor(modelItem => Model.RoomOverview.MainContent)</p>
    <p>@Html.DisplayFor(modelItem => Model.RoomOverview.SecondaryContent)</p>
</div>
@if (Model.RoomOverview.RoomType != null)
{
    <div class="secondaryContainer">
        @foreach (var item in Model.RoomOverview.RoomType)
        {
            <div class="detailedContentOuter">
                <div class="detailedContent">
                    <h2 class="lineHeading">@item.Name</h2>
                    <p>@item.Description</p>
                    <hr />
                </div>
            </div>

        }
        <p>
            <a href="/Rooms/RoomSelection/@Model.LocationID" class="button primary">Room Selection</a>
        </p>
    </div>
}
else
{
    <div>
        No Room Types Right Now - there should be seeded data so you probably shouldn't be seeing this. 
    </div>
}


<div class="tertiaryContainer">
    <div class="align-center">
        <a href="/Gym/Timetable/@Model.LocationID" class="button primary">@Model.LocationName Timetable</a>
        <a href="/Spa/Index/@Model.LocationID" class="button primary">@Model.LocationName Spa</a>

    </div>
</div>

