@model GeronimoHBS.Models.Location

@{
    ViewBag.Title = "Index";
}

<h2>Gym Classes</h2>

<p>
    @Html.ActionLink("Create New", "Create", "GymClasses")
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Introduction
        </th>
        <th>
            Description
        </th>
        <th>
            Benefits
        </th>
        <th>
            Focus
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.GymOverview.GymClasses) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Introduction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Benefits)
        </td>
        <td>
            @foreach (var focus in item.Focus)
            {


                @Html.DisplayFor(modelItem => focus.DisplayTitle)




            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "GymClasses", new { id=item.GymClassesID }, null) |
            @Html.ActionLink("Details", "Details", "GymClasses", new { id=item.GymClassesID }, null) |
            @Html.ActionLink("Delete", "Delete", "GymClasses", new { id=item.GymClassesID }, null)
        </td>
    </tr>
}

</table>
