@model GeronimoHBS.Models.GymClasses
@using GeronimoHBS.Models

@{ Html.RenderPartial("_Breadcrumbs");}


<div class="classFocus">
    <p class="statusKey" style="display: inline; font-weight: 400;">Class Focus: </p>
    @foreach (var item in Model.Focus)
    {
        <div class="statusKey">
            @item.Title
        </div>
    }

</div>
<div class="container">
    <div class="jumbo">

        <h1>@Model.Title</h1>
        <p class="introductionPara">@Model.Introduction</p>

    </div>


</div>


<div class="tertiaryContainer">

    <h2>About @Model.Title</h2>
    <p>@Model.Description</p>


    <h2>Identified Benefits</h2>
    <p>@Model.Benefits</p>

</div>

<div class="secondaryContainer">
    <div class="">
        @{Html.RenderPartial("_ImageGallery");}

    </div>
</div>




