@model GeronimoHBS.Models.GymClasses
@using GeronimoHBS.Models

@{ Html.RenderPartial("_Breadcrumbs");}

<div class="secondaryContainer">

    <h2>@Model.Title</h2>
    <p>@Model.Introduction</p>

</div>



<div class="classFocus">
    <p style="display: inline;">CLASS FOCUS: </p>
    @foreach (var item in Model.Focus)
    {
        <span>
            @item.DisplayTitle@Html.Raw(", ")
        </span>
    }

</div>


<div class="container">

    <h2>About @Model.Title</h2>
    <p>@Model.Description</p>


    <h2>Identified Benefits</h2>
    <p>@Model.Benefits</p>

</div>

<div class="secondaryContainer">
    <div class="">
        @{Html.RenderPartial("_ImageGallery");}

    </div>
</div>




