@model GeronimoHBS.Models.Location

@{
    ViewBag.Title = "RoomAvailability";
}


@{ Html.RenderPartial("_Breadcrumbs");}


    <div class="container">
        <a href="/Gym/Timetable/@Model.LocationID" class="button primary">Timetable</a>
        <br />
        <h2>Gym Details</h2>

        <div class="table-wrapper">
            <table class="alt">
                <thead>
                    <tr>
                        <th>Equipment</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.GymOverview.GymClasses)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.Description</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>


        <div class="table-wrapper">
            <table class="alt">
                <thead>
                    <tr>
                        <th>Equipment</th>
                        <th>Description</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.GymOverview.Equipment)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.Quantity</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <p>
            Everything that's in overview -> but extended.
            <ol>
                <li>
                    Show classes
                    @Html.ActionLink("Visit Classes", "ClassesDetails", "Gym")
                </li>
                <li>
                    Show equipment
                </li>

            </ol>
        </p>
        <p>
            @Html.ActionLink("Visit Classes", "ClassesDetails", new { controller = "Gym" }, htmlAttributes: new { Id = Model.GymOverviewID, @class = "button primary" })
        </p>


    </div>