@model GeronimoHBS.Models.Location
@using GeronimoHBS.Models



@{
    ViewBag.Title = "Geronimo Gym";
}

@{ Html.RenderPartial("_Breadcrumbs");}


<div class="jumbo">
    <div class="container">
        <h2>@Html.DisplayFor(modelItem => Model.GymOverview.Header)</h2>
        <p>@Html.DisplayFor(modelItem => Model.GymOverview.IntroductionParagraph)</p>
    </div>
</div>

<div class="container">
    <p>@Html.DisplayFor(modelItem => Model.GymOverview.MainContent)</p>
    <p>@Html.DisplayFor(modelItem => Model.GymOverview.SecondaryContent)</p>
</div>

@if (Model.GymOverview.GymClasses != null)
{
    <div class="container">
        <h2>Gym Classes</h2>

        <div class="">
            @foreach (var item in Model.GymOverview.GymClasses)
            {
                <h3>@item.Title</h3>
                <p>@item.Introduction</p>
             
                <p> 
                    @foreach (var focus in item.Focus)
                    {
                        @focus.DisplayTitle 

                    }
                </p>
                <hr />
            }
        </div>

    </div>
}
else
{
    <div>
        No Gym Classes Right Now
    </div>
}

<div class="tertiaryContainer">
    <div class="align-center">
        <a href="/Gym/GymClasses/@Model.LocationID" class="button primary">View @Model.LocationName Classes</a>
        <a href="/Gym/Timetable/@Model.LocationID" class="button primary">View @Model.LocationName Timetable</a>
    </div>
</div>


