@model GeronimoHBS.Models.Location
@using GeronimoHBS.Models



@{
    ViewBag.Title = "Geronimo Gym";
}

@{ Html.RenderPartial("_Breadcrumbs");}


<div class="jumbo">
    <div class="container">
        <h2>@Html.DisplayFor(modelItem => Model.GymOverview.Header)</h2>
        <p>@Html.DisplayFor(modelItem => Model.GymOverview.IntroductionParagraph)</p>
    </div>
</div>

<div class="container">
    <p>@Html.DisplayFor(modelItem => Model.GymOverview.MainContent)</p>
    <p>@Html.DisplayFor(modelItem => Model.GymOverview.SecondaryContent)</p>
</div>

@if (Model.GymOverview.GymClasses != null)
{
    <div class="secondaryContainer">
        @foreach (var item in Model.GymOverview.GymClasses)
        {
            <div class="detailedContentOuter">
                <div class="detailedContent">
                    <h2 class="lineHeading">@item.Title</h2>
                    <p class="detailedContentSub">Focus: @foreach (var focus in item.Focus) { @focus.DisplayTitle}</p>
                    <p>@item.Description</p>
                    <hr />
                </div>
            </div>
            
        }
    </div>;
}
else
{
    <div>
        No Gym Classes Right Now
    </div>
}

<div class="tertiaryContainer">
    <div class="align-center">
        <a href="/Gym/GymClasses/@Model.LocationID" class="button primary">View @Model.LocationName Classes</a>
        <a href="/Gym/Timetable/@Model.LocationID" class="button primary">View @Model.LocationName Timetable</a>
    </div>
</div>


