@model GeronimoHBS.Models.TimetableViewModel
@using GeronimoHBS.Models

@{
    ViewBag.Title = "Timetable";

    string[] days = { "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY", "SUNDAY" };
}

@{ Html.RenderPartial("_Breadcrumbs");}

<div class="secondaryContainer">

    <h2>@ViewBag.Location.LocationName Timetable</h2>
    <p>

    </p>

    <div class="inner">


        <hr />


        <div class="timetable">

            <div id="dayFilter">
                @* Loop seven days of the week *@
                @for (int i = 0; i <= 6; i++)
                {
                    <a class="timetableColumn">
                        <h2 class="timetableColumnTitle @if(i == 0) { @Html.Raw(" activeDaySelected") } " onclick="showGymClasses(event, '@days[i]')">.@days[i].Substring(0, 3).</h2>
                    </a>

                }
            </div>



            @* Loop seven days of the week *@
            @for (int i = 0; i <= 6; i++)
            {
                var day = days[i];

                var listOfClasses = Model.Monday;

                switch (day)
                {
                    case "MONDAY":
                        listOfClasses = Model.Monday;
                        break;
                    case "TUESDAY":
                        listOfClasses = Model.Tuesday;
                        break;
                    case "WEDNESDAY":
                        listOfClasses = Model.Wednesday;
                        break;
                    case "THURSDAY":
                        listOfClasses = Model.Thursday;
                        break;
                    case "FRIDAY":
                        listOfClasses = Model.Friday;
                        break;
                    case "SATURDAY":
                        listOfClasses = Model.Saturday;
                        break;
                    default:
                        listOfClasses = Model.Sunday;
                        break;
                }


                <div id="@days[i]" class="container tabcontent" @if (i == 0) { @Html.Raw("style=\"display: block;\"") }>
                    @foreach (var item in listOfClasses)
                    {
                        <div class="classBoard">
                            <div class="classMore">
                                <a target="_blank" href="../../Gym/GymClassDetails/@item.GymClassesID" class="button primary">
                                    Details
                                </a>


                            </div>
                            <div class="className"><h2>@item.GymClasses.Title  @if (item.GymClassStatus == GymClassStatus.FULLYBOOKED)
                            {@Html.Raw(" - FULLY BOOKED")} </h2></div>
                            <div class="classTime">
                                @string.Format("{0:00}:{1:00}", item.StartTime.Hours, item.StartTime.Minutes)
                                &nbsp;-&nbsp;
                                @string.Format("{0:00}:{1:00}", item.EndTime.Hours, item.EndTime.Minutes)

                            </div>
                            <div class="classInstructor">@item.Instructor </div>
                        </div>
                    }
                </div>



            }



            <script>
                function showGymClasses(evt, gymClassName) {
                    var i, tabcontent, tablinks;
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                    }
                    tablinks = document.getElementsByClassName("timetableColumnTitle");
                    for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" activeDaySelected", "");
                    }
                    document.getElementById(gymClassName).style.display = "block";
                    evt.currentTarget.className += " activeDaySelected";
                }
            </script>





        </div>


    </div>



</div>

<div class="tertiaryContainer">
    <div class="align-center">
        <a href="/Gym/Index/@ViewBag.Location.LocationID" class="button primary">Visit @ViewBag.Location.LocationName Gym</a>
        <a href="/Spa/Index/@ViewBag.Location.LocationID" class="button primary">View @ViewBag.Location.LocationName Spa</a>

    </div>
</div>

