@model IEnumerable<GeronimoHBS.Models.Venue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VenueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VenueDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VenueCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RateForDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventOverview.Location.LocationName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VenueName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VenueDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VenueCapacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RateForDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventOverview.Location.LocationName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VenueID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VenueID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VenueID })
        </td>
    </tr>
}

</table>
