
@model GeronimoHBS.Models.Location

<h2>
    @Html.DisplayFor(modelItem => Model.DiningOverview.Header)
</h2>
<p>
    @Html.DisplayFor(modelItem => Model.DiningOverview.IntroductionParagraph)

</p>
<p>
    @Html.DisplayFor(modelItem => Model.DiningOverview.MainContent)

</p>
<p>
    @Html.DisplayFor(modelItem => Model.DiningOverview.SecondaryContent)

</p>

<p>
    <a href="/Dining/Index/@Model.LocationID" class="button primary">Seating & Menu</a>
</p>


@foreach (var item in Model.DiningOverview.Menus)
{
    if (item.IsAvailable)
    {
        <h2 class="lineHeading">Current Menu: @item.Name</h2>
        <p class="detailedContentSub">Menu Availability: @Html.DisplayFor(modelItem => item.AvailableFrom) - @Html.DisplayFor(modelItem => item.AvailableTo)</p>
        <p>@item.Description</p>
        <hr /> 

        foreach (var menuItem in item.MenuItems)
        {
            <div class="">
                <h3 class="lineHeading">@menuItem.MealType: @menuItem.MenuItemName</h3>
                <p class="detailedContentSub">Price: £@menuItem.MenuItemCost</p>
                <p class="detailedContentSub">
                    Dietary Restrictions : 
                    @if (menuItem.IsVegetarian)
                    {
                        @Html.Raw("Vegetarian");
                    }
                    @if (menuItem.IsVegan)
                    {
                        @Html.Raw("Vegan");
                    }
                    @if (!menuItem.IsVegan && !menuItem.IsVegetarian)
                    {
                        @Html.Raw("N/A");
                    }
                </p>
                <p>@menuItem.MenuItemDescription</p>
                <hr />
            </div>


        }
    }
}


<p>
    <a href="/Dining/Index/@Model.LocationID" class="button primary">Seating & Menu</a>
</p>
