@model GeronimoHBS.Models.Location


<h2>
    @Html.DisplayFor(modelItem => Model.EventOverview.Header)
</h2>
<p>
    @Html.DisplayFor(modelItem => Model.EventOverview.IntroductionParagraph)

</p>


<p>
    @Html.DisplayFor(modelItem => Model.EventOverview.MainContent)

</p>
<p>
    @Html.DisplayFor(modelItem => Model.EventOverview.SecondaryContent)

</p>
@if (Model.EventOverview.EventInfo.Any())
{
    foreach (var item in Model.EventOverview.EventInfo)
    {
        if (item.IsPublic)
        {
            <h2 class="lineHeading">@item.Name</h2>
            <p>@item.Description</p>
            <hr />
        }
    }
}
else
{
    <p>No Event Information to Display</p>
}




<p>
    <a href="/Events/Index/@Model.LocationID" class="button primary">Current Events</a>
</p>