@model GeronimoHBS.Models.Location


<h2>
    @Html.DisplayFor(modelItem => Model.EventOverview.Header)
</h2>
<p>
    @Html.DisplayFor(modelItem => Model.EventOverview.IntroductionParagraph)

</p>


<p>
    @Html.DisplayFor(modelItem => Model.EventOverview.MainContent)

</p>
<p>
    @Html.DisplayFor(modelItem => Model.EventOverview.SecondaryContent)

</p>
@foreach (var item in Model.EventOverview.EventInfo)
{
    if (item.IsPublic)
    {
        <h3>@item.Name</h3>
        <p>
            @item.Description
        </p>
    }
}



<p>
    <a href="/Events/Index/@Model.LocationID" class="button primary">Current Events</a>
</p>