
@model GeronimoHBS.Models.Location
<h2>
    @Html.DisplayFor(modelItem => Model.GymOverview.Header)
</h2>
<p>
    @Html.DisplayFor(modelItem => Model.GymOverview.IntroductionParagraph)
</p>
<p>
    @Html.DisplayFor(modelItem => Model.GymOverview.MainContent)
</p>
<p>
    @Html.DisplayFor(modelItem => Model.GymOverview.SecondaryContent)
</p>

<p>
    <a href="/Gym/Index/@Model.LocationID" class="button primary">View @Model.LocationName Gym</a>
</p>



@if (Model.GymOverview.GymClasses.Any())
{

    <hr />
    <h2  class="lineHeading">Gym Classes Overview</h2>

    foreach (var item in Model.GymOverview.GymClasses)
    {
        <h3 class="lineHeading">@item.Title</h3>
        <p class="detailedContentSub">Focus: @foreach (var focus in item.Focus) {@focus.DisplayTitle}</p>
        <p>@item.Description</p>
        <hr />

    }





}
else
{
    <p>No Gym Classes Information to Display for @Model.LocationName</p>
}





@if (Model.GymOverview.Equipment.Any())
{

    <h2 class="lineHeading">Gym Equipment</h2>
    <hr />
    <p>
        @Html.DisplayFor(modelItem => Model.GymOverview.SecondaryContent)
    </p>


    <div class="table-wrapper">
        <table class="alt">
            <thead>
                <tr>
                    <th>Equipment</th>
                    <th>Description</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var innerItem in Model.GymOverview.Equipment)
                {
                    <tr>
                        <td>@innerItem.Name</td>
                        <td>@innerItem.Description</td>
                        <td>@innerItem.Quantity</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>




}
else
{
    <p>No Equipment Information to Display for @Model.LocationName</p>
}



<p>
    @Html.ActionLink("Book Now", "Index", new { controller = "Gym" }, htmlAttributes: new { @class = "button primary" })
</p>