<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Geronimo - @ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <link href="~/Content/GeronimoCss/formula-main.css" rel="stylesheet" />
    <link href="~/Content/GeronimoCss/geronimo.css" rel="stylesheet" />
</head>
<body>
    <div class="is-preload">

        <div id="page-wrapper">

            <!-- Menu -->
            <nav id="menu">
                <ul class="links">
                    <li>@Html.ActionLink("Make a Room Booking", "Index", "Home")</li>
                    <li>@Html.ActionLink("Choose a Hotel", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>

                    <li>@Html.ActionLink("> Glasgow", "Index", "Home")</li>
                    <li>@Html.ActionLink("> London", "Index", "Home")</li>
                    <li>@Html.ActionLink("> New York", "Index", "Home")</li>
                    <li>@Html.ActionLink("> Paris", "Index", "Home")</li>
                    <li>@Html.ActionLink("> Amsterdam", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>

                @Html.Partial("_LoginPartial")
            </nav>

            <!-- Header -->
            <header id="header">

                <nav>
                    <ul>
                        <li><a style="font-size: 24px;" href="#menu">&#9776;</a></li>
                    </ul>
                </nav>
                <a href="/" class="logo" style="font-size: xx-large;">G</a>
                @Html.Partial("_LoginPartial")

            </header>




            @RenderBody()

            @if (ViewBag.Title != "Index")
            {
                <hr />
                <footer id="footer">
                    <p>&copy; @DateTime.Now.Year - Geronimo</p>
                </footer>
            }
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/GeronimoScripts/formula/jquery.min.js"></script>
    <script src="~/Scripts/GeronimoScripts/formula/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/GeronimoScripts/formula/jquery.scrollex.min.js"></script>
    <script src="~/Scripts/GeronimoScripts/formula/browser.min.js"></script>
    <script src="~/Scripts/GeronimoScripts/formula/breakpoints.min.js"></script>
    <script src="~/Scripts/GeronimoScripts/formula/util.js"></script>
    <script src="~/Scripts/GeronimoScripts/formula/main.js"></script>

</body>
</html>
