<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Geronimo - @ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <script src="https://use.fontawesome.com/806df349e3.js"></script>

    <link href="~/Content/GeronimoCss/formula-main.css" rel="stylesheet" />
    <link href="~/Content/GeronimoCss/geronimo.css" rel="stylesheet" />
</head>
<body>
    <span id="top"></span>
    <div class="is-preload">

        <div id="page-wrapper">

            <!-- Menu -->
            <nav id="menu">
                <ul class="links headingNavigation">
                    <li>@Html.ActionLink("Make a Room Booking" , "Index", "Home")</li>
                    <li>@Html.ActionLink("Choose a Hotel", "Index", "Home")</li>
                </ul>

                <ul class="links">
                    <li>
                        @Html.RouteLink("Geronimo Hotels", "GetHotel", new { Id = 1, Name = "Geronimo" })
                        <ul class="dropdownSubList">

                            <li>@Html.RouteLink("Glasgow", "GetHotel", new { Id = 2, Name = "Glasgow" })</li>

                            <li>@Html.RouteLink("Paris", "GetHotel", new { Id = 3, Name = "Paris" })</li>
                            <li>@Html.RouteLink("Amsterdam", "GetHotel", new { Id = 4, Name = "Amsterdam" })</li>
                            <li>@Html.RouteLink("New York", "GetHotel", new { Id = 5, Name = "New York" })</li>
                            <li>@Html.RouteLink("London", "GetHotel", new { Id = 6, Name = "London" })</li>

                        </ul>
                    </li>

                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                </ul>

                @Html.Partial("_LoginPartial")
            </nav>

            <!-- Header -->
            <header id="header">

                <nav>
                    <ul>
                        <li><a style="font-size: 24px;" href="#menu">&#9776;</a></li>
                    </ul>
                </nav>
                <a href="/" class="logo" style="font-size: xx-large;">G</a> 
                @Html.Partial("_LoginPartial")

            </header>




            @RenderBody()





            @if (ViewBag.Title != "Index")
            {
               @Html.Partial("_Footer")
            }
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/GeronimoScripts/formula/jquery.min.js"></script>
    <script src="~/Scripts/GeronimoScripts/formula/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/GeronimoScripts/formula/jquery.scrollex.min.js"></script>
    <script src="~/Scripts/GeronimoScripts/formula/browser.min.js"></script>
    <script src="~/Scripts/GeronimoScripts/formula/breakpoints.min.js"></script>
    <script src="~/Scripts/GeronimoScripts/formula/util.js"></script>
    <script src="~/Scripts/GeronimoScripts/formula/main.js"></script>

</body>
</html>
