@model GeronimoHBS.Models.Location
@{
    int i = 1;
}


<h2>
    @Html.DisplayFor(modelItem => Model.RoomOverview.Header)
</h2>

<p>
    @Html.DisplayFor(modelItem => Model.RoomOverview.IntroductionParagraph)
</p>
<p>
    @Html.DisplayFor(modelItem => Model.RoomOverview.MainContent)
</p>
<p>
    @Html.DisplayFor(modelItem => Model.RoomOverview.SecondaryContent)
</p>


<div class="headersTogether">
    @foreach (var item in Model.RoomOverview.RoomType)
    {
        <h3><a class="tablinks @if(i == 1) { @Html.Raw(" current");  }" onclick="openRoomDetails(event, 'roomtype@(i)')">@item.Name</a></h3>
        i++;
    }
</div>


@{ i = 1;}
@if (Model.RoomOverview.RoomType.Any())
{
    foreach (var item in Model.RoomOverview.RoomType)
    {

        <div id="roomtype@(i)" class="tabcontent" @if (i == 1) { @Html.Raw("style = \"display: block;\"") ; }>
            <p>
                @item.Description
            </p>

            <p>
                <a href="/Rooms/Index/@Model.LocationID" class="button primary">View Details</a>

            </p>
        </div>
        i++;
    }
}
else
{
    <p>No Room Information to Display</p>
}






<script>
    function openRoomDetails(evt, roomType) {

        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");

        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" current", "");
        }

        document.getElementById(roomType).style.display = "block";
        evt.currentTarget.className += " current";
    }
</script>




