@model GeronimoHBS.Models.Location
@{ 
    int i = 1;
}


<h2>
    @Html.DisplayFor(modelItem => Model.RoomOverview.Header)
</h2>
<p>
    @Html.DisplayFor(modelItem => Model.LocationIntroduction)
</p>

<p>
    @Html.DisplayFor(modelItem => Model.RoomOverview.Content)
</p>


<div class="headersTogether">
    @foreach (var item in Model.RoomOverview.RoomType)
    {
        <h3><a class="tablinks @if(i == 1) { @Html.Raw(" current");  }" onclick="openRoomDetails(event, 'roomtype@(i)')">@item.Name</a></h3>
        i++;
    }
</div>


@{ i = 1;}

@foreach (var item in Model.RoomOverview.RoomType)
{

    <div id="roomtype@(i)" class="tabcontent" @if(i == 1) { @Html.Raw("style = \"display: block;\"");  }>
        <p>
            @item.Description
        </p>
        <p>
            Standard rooms are extraordinarily ordinary. Standard rooms are extraordinarily ordinary.
            Standard rooms are extraordinarily ordinary. Standard rooms are extraordinarily ordinary.
            Standard rooms are extraordinarily ordinary. Standard rooms are extraordinarily ordinary.
            Standard rooms are extraordinarily ordinary. Standard rooms are extraordinarily ordinary.
            Standard rooms are extraordinarily ordinary. Standard rooms are extraordinarily ordinary.
            Standard rooms are extraordinarily ordinary. Standard rooms are extraordinarily ordinary.
        </p>
        <p>
            Free Wifi is available throughout all our Hotels.
        </p>
        <p>
            @Html.ActionLink("Book Now", "Index", new { controller = "Rooms" }, htmlAttributes: new { @class = "button primary" })
        </p>
    </div>
    i++;
}
@*<div id="roomtype2" class="tabcontent">
    <p>
        Premium rooms are the exact same as standard rooms - the difference being, you get to brag about going Premium at Geronimo Hotels.
        Premium rooms are the exact same as standard rooms - the difference being, you get to brag about going Premium at Geronimo Hotels.rooms - the difference being, you get to brag about going Premium at Geronimo Hotels.
        Premium rooms are the exact same as standard rooms - the difference being, you get to brag about going Premium at Geronimo Hotels.rooms - the difference being, you get to brag about going Premium at Geronimo Hotels.
        Premium rooms are the exact same as standard rooms - the difference being, you get to brag about going Premium at Geronimo Hotels.
    </p>
    <p>
        Free Wifi is available throughout all our Hotels.
    </p>
    @Html.ActionLink("Book Now", "Index", new { controller = "Rooms" }, htmlAttributes: new { @class = "button primary" })

</div>*@


<script>
    function openRoomDetails(evt, roomType) {

        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");

        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" current", "");
        }

        document.getElementById(roomType).style.display = "block";
        evt.currentTarget.className += " current";
    }
</script>




