@model GeronimoHBS.Models.Location


<h2>
    @Html.DisplayFor(modelItem => Model.SpaOverview.Header)
</h2>
<p>
    @Html.DisplayFor(modelItem => Model.SpaOverview.IntroductionParagraph)

</p>
<p>
    @Html.DisplayFor(modelItem => Model.SpaOverview.MainContent)

</p>
<p>
    @Html.DisplayFor(modelItem => Model.SpaOverview.SecondaryContent)
</p>
<p>
    <a href="/Spa/Index/@Model.SpaOverviewID" class="button primary">Visit @Model.LocationName Spa</a>
</p>



<p>
    Geronimo Hotels @Model.LocationName has a range of spa promotions available:
</p>

@if (Model.SpaOverview.SpaPromotions.Any())
{
    foreach (var item in Model.SpaOverview.SpaPromotions)
    {
        
        <h2 class="lineHeading">@item.Title</h2>
        <p class="detailedContentSub">Promotion: @Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)</p>
        <p>@item.Description</p>
        <hr />
        
    }
}
else
{
    <p>No Spa Information to Display at @Model.LocationName</p>
}




<p>
    <a href="/Spa/Index/@Model.SpaOverviewID" class="button primary">Visit @Model.LocationName Spa</a>
</p>