@model GeronimoHBS.Models.Location


<h2>
    @Html.DisplayFor(modelItem => Model.SpaOverview.Header)
</h2>
<p>
    @Html.DisplayFor(modelItem => Model.SpaOverview.IntroductionParagraph)

</p>

<p>
    @Html.DisplayFor(modelItem => Model.SpaOverview.MainContent)

</p>
<p>
    @Html.DisplayFor(modelItem => Model.SpaOverview.SecondaryContent)
</p>

@foreach (var item in Model.SpaOverview.SpaPromotions)
{
        <h3>@item.Title</h3>
        <p>@item.StartDate</p>
        <p>@item.EndDate</p>
        <p>@item.PromotionCategory.PromotionName</p>
        <p>@item.Description</p>

}



<p>
    <a href="/Spa/Index/@Model.SpaOverviewID" class="button primary">Visit @Model.LocationName Spa</a>
</p>