@model GeronimoHBS.Models.SpaOverview
@using GeronimoHBS.Models


@{
    ViewBag.Title = "Geronimo Spa";
}

@{ Html.RenderPartial("_Breadcrumbs");}


<div class="container">
    <h2>Promotions - Events</h2>
    @foreach (var item in Model.SpaPromotions)
    {
        <h3>@item.Title</h3>
        <p>@item.StartDate</p>
        <p>@item.EndDate</p>
        <p>@item.PromotionCategory.PromotionName</p>
        <p>@item.Description</p>
        <hr />
    }

   
</div>

<div class="tertiaryContainer">
    <div class="align-center">
        <a href="/Gym/Index/@ViewBag.Location.LocationID" class="button primary">Visit @ViewBag.Location.LocationName Gym</a>
        <a href="/Gym/Timetable/@ViewBag.Location.LocationID" class="button primary">View @ViewBag.Location.LocationName Timetable</a>

    </div>
</div>
