@model GeronimoHBS.Models.SpaOverview
@using GeronimoHBS.Models


@{
    ViewBag.Title = "Geronimo Spa";
}

@{ Html.RenderPartial("_Breadcrumbs");}


<div class="pageOverview">
    <div class="container">
        <h2>@Html.DisplayFor(modelItem => Model.Header)</h2>
        <p>@Html.DisplayFor(modelItem => Model.IntroductionParagraph)</p>
    </div>
</div>

<div class="container">
    <p>@Html.DisplayFor(modelItem => Model.MainContent)</p>
    <p>@Html.DisplayFor(modelItem => Model.SecondaryContent)</p>
</div>

@if (Model.SpaPromotions != null) {
    <div class="container">
        <h2>Promotions - Events</h2>

        <div class="spaPromotions">
            @foreach (var item in Model.SpaPromotions)
            {
                <h3>@item.Title</h3>


                <p>@item.PromotionCategory.PromotionName</p>
                <p>Promotion available from: @Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)</p>
                <p>@item.Description</p>
                <hr />
            }
        </div>

    </div>
} else
{
    <div>
        No Promotions Right Now
    </div>
}

<div class="tertiaryContainer">
    <div class="align-center">
        <a href="/Gym/Index/@ViewBag.Location.LocationID" class="button primary">Visit @ViewBag.Location.LocationName Gym</a>
        <a href="/Gym/Timetable/@ViewBag.Location.LocationID" class="button primary">View @ViewBag.Location.LocationName Timetable</a>

    </div>
</div>
