@model GeronimoHBS.Models.Location

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Equipment", "Create", "Equipments")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.GymOverview.Equipment) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Equipments", new { id=item.EquipmentID }, null) |
            @Html.ActionLink("Details", "Details", "Equipments", new { id=item.EquipmentID }, null) |
            @Html.ActionLink("Delete", "Delete", "Equipments", new { id=item.EquipmentID }, null)
        </td>
    </tr>
}

</table>
